<section class="p-10 flex items-center justify-center h-screen bg-gray-100">
	<div class="mr-36">
		<h1 class="text-[50px] font-black text-blue-500">Social App</h1>
		<p class="text-xl">
			Connect with friends and the world <br />around you on Social App.
		</p>
	</div>
	<div class="shadow-lg text-center w-96 p-4 bg-white rounded-md">
		<form class="flex flex-col w-full border-b-2 pb-8 mb-8">
			<input
				type="text"
				name=""
				id=""
				placeholder="Email"
				class="border rounded-md px-4 py-2 mb-3"
			/>
			<input
				type="password"
				name=""
				id=""
				placeholder="Password"
				class="border rounded-md px-4 py-2 mb-3"
			/>
			<button
				class="px-4 py-2 text-xl font-bold bg-blue-500 text-white rounded-md"
			>
				Log In
			</button>
		</form>

		<button
			class="px-4 py-2 text-xl font-bold bg-green-500 text-white rounded-md"
		>
			Create New Account
		</button>
	</div>
</section>

<!-- This is the register modal -->
<!-- 
<section
	class="bg-white/80 fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center"
>
	<div class="w-[432px] shadow-xl">
		<div class="p-4 border-b-2">
			<h2 class="text-2xl font-bold">Sign Up</h2>
			<p>It’s quick and easy.</p>
		</div>
		<form class="bg-white p-4 rounded-lg w-full">
			<div class="grid grid-cols-2 gap-2 mb-2 w-full">
				<input
					type="text"
					name=""
					id=""
					placeholder="First name"
					class="border rounded-md px-4 py-2 bg-gray-100"
				/>
				<input
					type="text"
					name=""
					id=""
					placeholder="Last name"
					class="border rounded-md px-4 py-2 bg-gray-100"
				/>
			</div>
			<div class="grid grid-cols-1 mb-2 gap-2">
				<input
					type="email"
					name=""
					id=""
					placeholder="Email"
					class="border rounded-md px-4 py-2 bg-gray-100"
				/>
				<input
					type="password"
					name=""
					id=""
					placeholder="Password"
					class="border rounded-md px-4 py-2 bg-gray-100"
				/>
			</div>

			<label for="" class="text-sm block">Birthday</label>
			<div class="grid grid-cols-3 gap-2 mb-2">
				<select
					name=""
					id=""
					class="border-2 rounded-md p-2 w-full bg-white"
				>
					<option value="null">Apr</option>
				</select>
				<select
					name=""
					id=""
					class="border-2 rounded-md p-2 w-full bg-white"
				>
					<option value="null">27</option>
				</select>
				<select
					name=""
					id=""
					class="border-2 rounded-md p-2 w-full bg-white"
				>
					<option value="null">2023</option>
				</select>
			</div>

			<label for="" class="text-sm block">Gender</label>
			<div class="grid grid-cols-2 gap-2">
				<select
					name=""
					id=""
					class="border-2 rounded-md p-2 w-full bg-white"
				>
					<option value="null">Female</option>
				</select>
				<select
					name=""
					id=""
					class="border-2 rounded-md p-2 w-full bg-white"
				>
					<option value="null">Male</option>
				</select>
			</div>

			<div class="my-2 text-xs">
				<p class="mb-3">
					People who use our service may have uploaded your contact
					information to Social App. Learn more.
				</p>
				<p class="mb-3">
					By clicking Sign Up, you agree to our Terms, Privacy Policy
					and Cookies Policy. You may receive SMS Notifications from
					us and can opt out any time.
				</p>
			</div>
			<div class="text-center">
				<button
					class="px-12 py-2 text-xl font-bold bg-green-500 text-white rounded-md"
				>
					Sign Up
				</button>
			</div>
		</form>
	</div>
</section> -->
